@import "~@entur/tokens/dist/styles.scss";

.App {
  display: flex;
  height: 100%;
}

.control-panel-wrapper {
  background-color: $colors-brand-blue;
  width: 400px;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 1;
}
