body {
  margin: 0;
}

.right-menu-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
  transition: 0.3s;
  margin-top: 20px;
  box-shadow: none;
}

.right-menu-container.open {
  width: 250px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar-button.right {
  position: absolute;
  right: 5px;
  width: 48px; /* set a fixed width  */
  height: 48px; /* set a fixed height */
  background: #fff;
  border: 1px solid;
  border-radius: 50%; /* makes it round */
  cursor: pointer;
  transition:
    right 0.3s,
    background-color 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.sidebar-button.right.open {
  right: 255px;
}

.sidebar-button.active {
  background: #1fcac2;
}

.sidebar-button:hover {
  background: #5d9c9b;
}

.vehicle-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.vehicle-popup-actions {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
}

.round-icon-button {
  border: 2px solid black;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  cursor: pointer;
  transition:
    right 0.3s,
    background-color 0.2s;
}

.round-icon-button:hover {
  background: #5d9c9b;
}

.icon {
  width: 40px;
  height: 40px;
}
