@import "~@entur/typography/dist/styles.css";
@import "~@entur/layout/dist/styles.css";
@import "~@entur/form/dist/styles.css";
@import "~@entur/button/dist/styles.css";

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
